body{
    margin: 0px;
}
.h1-tag{
    color: red;
}

.nav-bar{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: blanchedalmond;
    padding: 15px;
    text-align: center;
}

.nav-bar a{
    padding: 15px;
    text-decoration: none;
    color: black;
}

.nav-bar a:hover{
    background-color: burlywood;
    text-decoration: underline;
    color: aliceblue;
}

.card{
    border: 2px solid black;
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}

.card img{
    width: 100%;
}

.card button{
    width: 60%;
    padding: 8px;
    border-radius: 20px;
}

.card button:hover{
    cursor: pointer;
    background-color: white;
    color: brown;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}